 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cat %></title>
 </head>
 <body>
    <%- include('./partials/nav') %>
    <h1>
        <%= cat %>
    </h1>
    
    <ul>
        <% menuItems.forEach((menuList)=> { %>
    
            <li> Name : <%= menuList.name %></li>
            <li> Price : <%= menuList.price %></li>
            <li> Rating : <%= menuList.rating %></li>
            <li> Details : <%= menuList.details %></li>
            <br />
            <% }); %>
    </ul>
 </body>
 </html>
